<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><img src="https://avatars3.githubusercontent.com/u/1396943?v=3&s=460"></a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:karthick.lakshman@gmail.com">email</a></li>
	        		<li><a href="https://github.com/karthicklaksman">github.com/karthicklaksman</a></li>
				</ul>
			</footer>
		</body>
	</html>
